div {
    margin-bottom: 15px;
    color: red;
    border: 1px solid black;
    background-color: lightgray;
}
div1 {
    margin-bottom: 15px;
    color: red;
    border: 1px solid black;
    background-color: lightgray;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}
div.inline,p.inline {
    display: inline;
}
#tieude{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}